@import "susy";

$nav: (
	columns: 12,
	container: static,
);

.container{
	@include container(960px);
	background-color: #ddddff;
}

h1.banner{
	margin: 0 auto;
	text-align: center;
}

nav{
	@include span(12 of 12);
	height: 80px;
	background: url(/images/menu-button.png) no-repeat center;
	cursor: pointer;
	ul{
		display: none;
	}
}

@media (min-width: 768px){
	$susy: (
		flow: rtl,
		);
nav{
	@include layout($nav);
	background-image: none;
	height:40px;
	ul{
		display: block;
		@include span(12);
		@include push(6);
		li{
			@include span (1);
			list-style-type: none;
			padding-left: 0;
		}
	}
}

.main-content{
	@include span(9 of 12);
	p{
		@include span(3.9);
	}
}

aside{
	@include span(3 of 12 at 10);
}
}